<header>
  <div class="container">
    <h1 class="logo">
      2018 &#x219d; <span>2019</span>
    </h1>
    <section class="social">
        <i class="far fa-user fa-xs"></i> {{ qui }} <i class="fas fa-power-off fa-xs clickable" (click)="disconnect()"></i>
    </section>
  </div>
</header>

<div class="container">
<div id="timeline">
  <div class="timeline-item" *ngFor="let tranche of tranches; let odd=odd">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        <path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
          c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
          l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
          c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
          c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
        </svg>
      </div>
      <div class="timeline-content" [class.right]="odd">
        
        <h2>{{ tranche.hour }} - {{ tranche.title }} {{ montant(tranche) > 0 ? ' - ' + montant(tranche) + ' &euro;' : '' }}
          <sup><span *ngIf="trancheHasNew(tranche)" class="badge badge-pill badge-success">NEW</span></sup>
          <span style="float: right; color: white; font-size: 24px;">
            <a class="clickable" (click)="onCreate(tranche);" data-toggle="modal" data-target="#modal-create">+</a>
          </span>
        </h2>
        
        <div>
          <ul class="mt-2">
            <li *ngFor="let elem of tranche.elements">
              <!-- How to add conditional attribute in Angular 2 ? null removes it -->
              <input name="done-{{ elem.id }}" (change)="toggleDone($event, elem)" style="margin-right: 0.6em;" type="checkbox" [attr.checked]="elem.done ? 'checked':null">
              <strong>
                  {{ elem.qui }} :
              </strong>
              <a class="clickable" (click)="onSelect(elem);" data-toggle="modal" data-target="#modal-create">
                  {{ elem.quoi }}
              </a>
              <sup><span *ngIf="elementHasNew(elem)" class="badge badge-pill badge-success">NEW</span></sup>

              <!-- likes - https://stackoverflow.com/questions/38582293/how-to-declare-a-variable-in-a-template-in-angular -->
              <ng-container *ngIf="{a: (!elem.likes || !elem.likes[qui]) } as clickable">
              <span style="float: right;" (click)="like(elem, true)">
                  {{ numLikes(elem, true) }}
                  <i class="fas fa-thumbs-up" [class.text-primary]="clickable.a" [class.text-secondary]="!clickable.a" [class.clickable]="clickable.a">&nbsp;</i>
              </span>
              </ng-container>

            </li>
          </ul>
        </div>

      </div>
  </div>
</div>
<div class="text-center mt-5 mb-5">
<h2>Total : {{ total() }} -> {{ totalParPersonne() }}€ par personne </h2>
</div>
</div>

<!-- dialogue pour créer une entrée -->
<div id="modal-create" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary" style="color: white;">
        <h5 class="modal-title">{{ nouveau?.quand }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="nouveau">
          <label for="saisie_quoi">Qu'est-ce que tu vas préparer de bon ?</label>
          <input class="big" id="saisie_quoi" name="saisie_quoi" type="text" [(ngModel)]="nouveau.quoi" placeholder="" />
          <label for="saisie_combien">Et combien ça coûte ?</label>
          <input class="big" id="saisie_combien" name="saisie_combien" type="text" [(ngModel)]="nouveau.combien" placeholder="" />
        </p>
      </div>
      <div class="modal-footer">
        <button *ngIf="isModifying()" style="float: left" type="button" class="btn btn-warning" data-dismiss="modal" (click)="onDelete(nouveau)">Supprimer</button>  
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" [disabled]="isInvalid()" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
